body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btnRed {
    background: #ff94a6;
    color: white;
}

.disabledRow {
    background: #808080;
    /*font-weight: bold;*/
}

.normalRow {
    background: white;
}