.customb {
    background-image: url('../images/paper.jpg');
}

.customf {
    font-family: Serif;
}
img { max-width: 100%; }


@font-face
{
    font-family: 'Leah';
    src: url(../fonts/Leah.TTF);
}
.customfont {
    font-family:  Ariel;
    color:#000;
    /*font-size:25px;*/
}

.x-button, .x-tab, .x-list-parent div {
    cursor: pointer;
}